<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Barapp</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>barapp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.449845738118-k3teu25sqc0jg9evbobmdt2tsca94vo0</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    
    <key>NSCameraUsageDescription</key>
    <string>Necesitamos acceso a la cámara para actualizar tu perfil y subir historias en BarApp.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Necesitamos acceso al micrófono para grabar el audio de tus historias.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a tu galería para elegir fotos de perfil o subir contenido.</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Necesitamos tu ubicación para mostrarte los bares más cercanos en el mapa y ayudarte a encontrar el lugar ideal mientras usas la aplicación.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>BarApp necesita acceso a tu ubicación incluso en segundo plano para recomendarte bares cercanos y mostrarte promociones exclusivas según tu posición actual.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Necesitamos tu ubicación para encontrar bares cercanos y ofrecerte una experiencia personalizada incluso cuando la aplicación no está en primer plano.</string>
    
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
</dict>
</plist>